
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(128,128,128);
margin-top: 200px;
}

.container{
    background-color: rgb(192,101,238);
    border: 1px solid white;
    border-radius: 1px;
    width: 480px;
    box-sizing:border-box;
}

.row{
    height: 90px;
}

img{
    width: 90px;
}

#id{ 
    background: #FF9933;
}

#id2{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
#id3{
    background: #138808;
}